.search-form {
    display: flex;
    justify-content: flex-end;
    border: 1px solid red;
}

.search-form__forma {
    display: flex;
    align-items: center;
    border: 1px solid green;
    margin-top: 33px;
}

.lupa {
    width: 44px;
    height: 44px;
    margin-right: 24px;
}

.seach-form__input {
    width: 599px;
    height: 69px;
    border: 4.43px solid #AAA190;
    border-radius: 34px;
    margin-right: 52px;
    padding: 0 20px;
    font-family: Inter;
    font-size: 27px;
    font-weight: 400;
    line-height: 32px;
    letter-spacing: 0em;
    text-align: left;

}