:root {
    --width745: 745px;
    --width700: 700px;
    --width650: 650px;
    --width600: 600px;
    --width550: 550px;
    --width500: 500px;
    --width450: 450px;
    --width400: 400px;
    --width350: 350px;
    --width300: 300px;
}

.settings {
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
}

.setting {
    margin-top: 55px;
    width: var(--width745);
}

.setting__logo {
    width: var(--width745);
    display: flex;
    gap: 15px;
}

.setting__text {
    font-family: Inter;
    font-size: 24px;
    font-weight: 500;
    line-height: 29px;
    letter-spacing: 0em;
    text-align: left;
    color: #520005;
}

.setting__name-discount {
    width: var(--width745);
    height: 91.34877014160156px;
    border-radius: 10.149864196777344px;
    background-color: #F1F2F6;
    font-family: Inter;
    font-size: 24px;
    font-weight: 400;
    line-height: 29px;
    letter-spacing: 0em;
    padding-left: 28px;
    margin-bottom: 25px;
    border: none;
    box-shadow: 0px 8.119891166687012px 8.119891166687012px 0px #00000017 inset;
}

.input__file-container {
    position: relative;
}

.input__file-delete {
    position: absolute;
    top: 10px;
    right: 10px;
    border: none;
    cursor: pointer;
    overflow: hidden;
    outline: none;
    background-color: transparent;
    width: 50px;
    height: 50px;
    font-size: 32px;
}

.input__file_pull {
    border: 1px solid black;
    object-fit: cover;
}

.input__file {
    margin-top: 0;
    width: var(--width745);
    height: 298.406005859375px;
    border-radius: 10.149864196777344px;
    background-color: #F1F2F6;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    row-gap: 20px;
    box-shadow: 0px 8.119891166687012px 8.119891166687012px 0px #00000017 inset;
    margin-bottom: 25px;

}


.input__file-add {
    
}

.input-file-img {
    opacity: 0.20000000298023224px;
}



.input__file-label {
    font-family: Inter;
    font-size: 24px;
    font-weight: 400;
    line-height: 29px;
    letter-spacing: 0em;
    width: 231px;
    color: #000000;
    opacity: 40%;
    text-align: center;
    cursor: pointer;
}

.input__text {
    width: var(--width745);
    height: 245.626708984375px;
    border-radius: 10.149864196777344px;
    box-shadow: 0px 8.119891166687012px 8.119891166687012px 0px #00000017 inset;
    border: none;
    background-color: #F1F2F6;
    padding-top: 21px;
    padding-left: 33px;
    font-family: Inter;
    font-size: 24px;
    font-weight: 400;
    line-height: 29px;
    letter-spacing: 0em;
    margin-bottom: 122px;
}

.input__add-text {
    font-family: Inter;
    font-size: 22px;
    font-weight: 400;
    line-height: 27px;
    letter-spacing: 0em;
    text-align: left;
    color: #671309;
    border: none;
    background-color: white;
    align-self: flex-start;
    margin-bottom: 103px;
}

.input__promocode {
    display: flex;
    justify-content: space-between;
    margin-bottom: 18px;
}

.input__add-promocode {
    width: 460.8038024902344px;
    height: 91.34877014160156px;
    border-radius: 10.149864196777344px;
    background-color: #F1F2F6;
    font-family: Inter;
    font-size: 24px;
    font-weight: 400;
    line-height: 29px;
    letter-spacing: 0em;
    padding-left: 28px;
}

.input__add-date {
    width: 233.44686889648438px;
    height: 91.34877014160156px;
    border-radius: 10.149864196777344px;
    background-color: #F1F2F6;
    font-family: Inter;
    font-size: 24px;
    font-weight: 400;
    line-height: 29px;
    letter-spacing: 0em;
    padding-left: 32px;
}

.input__button-promocode {
    height: 31px;
    width: 100%;
    font-family: Inter;
    font-size: 22px;
    font-weight: 400;
    line-height: 27px;
    letter-spacing: 0em;
    color: #671309;
    text-align: left;
    background-image: url('../img/plus.svg');
    background-repeat: no-repeat;
    background-position: right;
    border: none;
    background-color: white;
    padding-left: 30px;
    margin-bottom: 38px;

}

.input__add-link {
    width: var(--width745);
    height: 91.34877014160156px;
    border-radius: 10.149864196777344px;
    box-shadow: 0px 8.119891166687012px 8.119891166687012px 0px #00000017 inset;
    background-color: #F1F2F6;
    font-family: Inter;
    font-size: 24px;
    font-weight: 400;
    line-height: 29px;
    letter-spacing: 0em;
    text-align: left;
    padding-left: 30px;
    margin-bottom: 27px;
}

.input__barcode {
    position: relative;
    width: var(--width745);
    height: 284.1961975097656px;
    border-radius: 10.149864196777344px;
    background: #F1F2F6;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin-bottom: 68px;
}

.input__barcode-container {
    display: flex;
    align-items: center;
    justify-content: center;
    width: var(--width745);
    height: 284.1961975097656px;
    border-radius: 10.149864196777344px;
    position: relative;
    margin-bottom: 50px;
}

.input__barcode-image {

    height: 284.1961975097656px;
    object-fit: contain;
    overflow: hidden;
}

.input__barcode-add {
 
}

.input__file-barcode {
    position: absolute;
    top: 27px;
    left: 30px;
    font-family: Inter;
    font-size: 24px;
    font-weight: 400;
    line-height: 29px;
    letter-spacing: 0em;
    text-align: left;
    opacity: 40%;
}

.input-barcode-img {
    margin-top: 0px;
}


.setting__buttons {
    display: flex;
    margin-bottom: 50px;
}

.setting__buttons_add-discount{
    align-items: center;
    justify-content: center;
}

.setting__button {
    width: 351.1852722167969px;
    height: 62.92915344238281px;
    border-radius: 6.08991813659668px;
    box-shadow: 2.029972791671753px 4.059945583343506px 8.119891166687012px 0px #00000073;
    border: none;
    font-family: Inter;
    font-size: 24px;
    font-weight: 400;
    line-height: 29px;
    letter-spacing: 0em;
    text-align: center;
    color: #671309;
}

.setting__button:first-child {
    margin-right: 34px;
}

@media screen and (max-width:807px) {
    .setting {
        width: var(--width90);
    }

    .setting__logo {
        width: var(--width90);

    }

    .input__file {
        width: var(--width90);
    }

    .input__text {
        width: 100%;

    }

    .input__add-link {
        width: var(--width90);

    }

    .input__barcode {
        width: 100%;
    }

}

@media screen and (max-width:737px) {

    .input__add-link {
        width: 100%;

    }

}

@media screen and (max-width:730px) {
    .setting {
        width: var(--width650);
    }

    .setting__logo {
        width: var(--width650);

    }

    .input__file {
        width: var(--width650);
    }

    .input__text {
        width: 100%;

    }

    .input__add-link {
        width: var(--width650);

    }

    .input__barcode {
        width: 100%;
    }

}

@media screen and (max-width:692px) {
    .setting {
        width: var(--width600);
    }

    .setting__logo {
        width: var(--width600);

    }

    .input__file {
        width: var(--width600);
    }

    .input__text {
        width: 100%;
    }

    .input__add-promocode {
        width: 400px;
        margin-right: 10px;
    }

    .input__add-date {
        width: 200px;
        padding-left: 10px;
    }

    .input__add-link {
        width: var(--width600);

    }

    .input__barcode {
        width: 100%;
    }

}

@media screen and (max-width:635px) {
    .setting {
        width: var(--width550);
    }

    .setting__logo {
        width: var(--width550);

    }

    .input__file {
        width: var(--width550);
    }

    .input__text {
        width: 100%;
        margin-bottom: 50px;
    }

    .input__add-text {
        margin-bottom: 50px;
    }

    .input__add-promocode {
        width: 300px;
        margin-right: 10px;
    }

    .input__add-date {
        width: 200px;
        padding-left: 10px;
    }

    .input__add-link {
        width: var(--width550);

    }

    .input__barcode {
        width: 100%;
    }

}

@media screen and (max-width:585px) {
    .setting {
        width: var(--width500);
    }

    .setting__logo {
        width: var(--width500);

    }

    .input__file {
        width: var(--width500);
    }

    .input__text {
        width: 100%;
    }

    .input__add-promocode {
        width: 300px;
        margin-right: 10px;
    }

    .input__add-date {
        width: 200px;
        padding-left: 10px;
    }

    .input__add-link {
        width: var(--width500);

    }

    .input__barcode {
        width: 100%;
    }

}

@media screen and (max-width:539px) {
    .setting {
        width: var(--width450);
    }

    .setting__logo {
        width: var(--width450);

    }

    .input__file {
        width: var(--width450);
    }

    .input__text {
        width: 100%;
    }

    .input__add-promocode {
        width: 250px;
        margin-right: 10px;
        font-size: 20px;
    }

    .input__add-date {
        width: 200px;
        padding-left: 10px;
        font-size: 20px;
    }

    .input__add-link {
        width: var(--width450);

    }

    .input__barcode {
        width: 100%;
    }

}

@media screen and (max-width:487px) {
    .setting {
        width: var(--width400);
    }

    .setting__logo {
        width: var(--width400);

    }

    .input__file {
        width: var(--width400);
    }

    .input__text {
        width: 100%;
    }

    .input__add-promocode {
        width: 220px;
        margin-right: 10px;
        font-size: 20px;
    }

    .input__add-date {
        width: 150px;
        padding-left: 10px;
        font-size: 15px;
    }

    .input__add-link {
        width: var(--width400);

    }

    .input__barcode {
        width: 100%;
    }

}


@media screen and (max-width:425px) {
    .setting {
        width: var(--width350);
    }

    .setting__logo {
        width: var(--width350);

    }

    .input__file {
        width: var(--width350);
    }

    .input__text {
        width: 100%;
    }

    .input__add-promocode {
        width: 200px;
        margin-right: 10px;
        font-size: 20px;
    }

    .input__add-date {
        width: 130px;
        padding-left: 10px;
        font-size: 15px;
    }

    .input__add-link {
        width: var(--width350);

    }

    .input__barcode {
        width: 100%;
    }

    .setting__button {
        width: 173px;
        height: 31px;
        border-radius: 3px;
        font-size: 12px;
        line-height: 15px;
    }

}


@media screen and (max-width:373px) {
    .setting {
        width: var(--width300);
    }

    .setting__logo {
        width: var(--width300);

    }

    .input__file {
        width: var(--width300);
    }

    .input__text {
        width: 100%;
    }

    .input__add-promocode {
        width: 150px;
        margin-right: 10px;
        font-size: 12px;
    }

    .input__add-date {
        width: 130px;
        padding-left: 10px;
        font-size: 15px;
    }

    .input__add-link {
        width: var(--width300);

    }

    .input__barcode {
        width: 100%;
    }

    .setting__button {
        width: 173px;
        height: 31px;
        border-radius: 3px;
        font-size: 12px;
        line-height: 15px;
    }

}