.add-categories {
    border: 1px solid gold;
    margin-top: -42px;
}

.categories__name-arrows:hover {
    cursor: pointer;
    transform: scale(1.2);
    transition-delay: 0.5s;
}

.categories__name-plus{
    border: 1px solid hotpink;
    height: 40px;
    width: 27px;
    margin-top: 0;
    margin-left: 40px;

}

.categories__name-title {
    font-family: Inter;
    font-size: 27px;
    font-weight: 400;
    line-height: 32px;
    letter-spacing: 0em;
    text-align: left;

}