.categories{
    width: 100%;
    margin-top: 32px;
    margin-bottom: 72px;
}

.categories__container{
    width: 1290px;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 45px;
}

.categories__arrow:first-child{
    border: none;
    background-color: white;
    background-image: url('../../img/left_arrows.svg');
    background-repeat: no-repeat;
    background-position: 35% 50%;
}

.categories__arrow:last-child{
    border: none;
    background-color: white;
    background-image: url('../../img/right_arrows.svg');
    background-repeat: no-repeat;
    background-position: 97% 50%;
}


.categories__name{
    display: flex;
    width: 595px;
    height: 44px;
    background-color: #AAA190;
    border-radius: 11px;
    margin-top: 25px;
    margin-left: 25px;
}

.categories__name-arrows {
    width: 52px;
    height: 18px;
    margin-top: 9px;
    margin-left: 17px;
    
}
.categories__name-title {
    color: white;
    margin-top: 3px;
    margin-left: 27px;
    font-weight: 400;
    font-size: 26.58px;
    line-height: 32.17px;
}



@media screen and (max-width:859px) {
    .categories__container{
        width: 90%;
    }
    .categories__name{
        width: 400px;
    }
}

@media screen and (max-width:485px) {
    .categories__name{
        width: 350px;
    }
    
}
@media screen and (max-width:393px) {
    .categories__name{
        margin-left: 0;
    }

}

@media screen and (max-width:379px) {
    .categories__name{
        width: 300px;
    }
    
}

