.categories {
    width: 100%;
    margin-top: 32px;
    margin-bottom: 72px;
}

.categories__container {
    display: flex;
    flex-direction: column;
    width: 1290px;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 45px;
}

.categories__arrow:first-child {
    border: none;
    background-color: white;
    background-image: url('../../img/left_arrows.svg');
    background-repeat: no-repeat;
    background-position: 35% 50%;
}

.categories__arrow:last-child {
    border: none;
    background-color: white;
    background-image: url('../../img/right_arrows.svg');
    background-repeat: no-repeat;
    background-position: 97% 50%;
}

.categories__name-and-delete {
    display: flex;
    justify-content: space-between;
    align-items: flex-end;
}


.categories__name {
    display: flex;
    width: 595px;
    height: 44px;
    background-color:#F0F2F1;
    border-radius: 11px;
    margin-top: 25px;
    margin-left: 25px;
    box-shadow: 2.2153594493865967px 4.430718898773193px 8.861437797546387px 0px #00000073;
}

.categories__name-arrows {
    width: 52px;
    height: 18px;
    margin-top: 9px;
    margin-left: 17px;

}

.categories__name-title {
    color: #671309;
    margin-top: 3px;
    margin-left: 27px;
    font-weight: 400;
    font-size: 26.58px;
    line-height: 32.17px;
}


.categories__all_button{
    color: #671309;
    background-color: white;
    border: none;
    margin-right: 50px;
    font-weight: 400;
    font-size: 26.58px;
    line-height: 32.17px;
    margin-left: auto;
    margin-right: auto;
    text-decoration: none;
    margin-right: 10px;
}

.categories__buttons-update {
    width: 50px;
    height: 50px;
    background-image: url(../../img/updateCategory.webp);
    background-repeat: no-repeat;
    background-position: center;
    background-size: 50px auto;
    background-color: white;
    cursor: pointer;
    overflow: hidden;
    outline: none;
    border: none;
}


.bascet-delete_category {
    width: 50px;
    height: 50px;
    background-image: url(../../img/delete.webp);
    background-repeat: no-repeat;
    background-position: center;
    background-size: 50px auto;
    background-color: white;
    cursor: pointer;
    overflow: hidden;
    outline: none;
    border: none;
}


.categories__buttons {
    display: flex;
    flex-direction: column;
    gap: 0px;
}

.categories__buttons_none {
    display: none;
}


@media screen and (max-width:1280px) {
    .categories__container {
        width: 100%;
    }

    .categories__name {
        width: 400px;
    }
}


@media screen and (max-width:859px) {
    .categories__container {
        width: 100%;
    }

    .categories__name {
        width: 400px;
    }
    .categories__all_button{
        font-weight: 400;
        font-size: 26.58px;
        line-height: 32.17px;
    }
}

@media screen and (max-width:697px) {
  
    .categories__all_button{
        font-weight: 400;
        font-size: 22.58px;
        line-height: 32.17px;
    }
}


@media screen and (max-width:650px) {
    .categories__name {
        width: 300px;
    }
    .categories__name-title {
        font-family: Inter;
        font-size: 15px;
        font-weight: 400;
        line-height: 15px;
        letter-spacing: 0em;
        text-align: left;
        margin-top: 12px;
    }

    .categories__all_button{
        font-family: Inter;
        font-size: 15px;
        font-weight: 400;
        line-height: 15px;
        letter-spacing: 0em;
        text-align: left;
    }
}

@media screen and (max-width:513px) {
    .categories__name {
        margin-left: 10px;
    }
    .categories__all_button{
      width: 120px;
    }
}

@media screen and (max-width:485px) {
    .categories__name {
        width: 300px;
    }

    .categories__buttons {
        height: 150px;
        display: flex;
        flex-direction: column-reverse;

    }

    .categories__all_button{
        font-family: Inter;
        font-size: 12px;
        font-weight: 400;
        line-height: 15px;
        letter-spacing: 0em;
        text-align: left;
    }
}

@media screen and (max-width:450px) {
    .categories__name {
        width: 275px;
    }
 
    .categories__name-arrows {
        width: 27px;
        height: 8px;
        margin-top: 19px;
        margin-left: 11px;
    }
}

@media screen and (max-width:420px) {
    .categories__name {
        width: 250px;
        margin-left: 0;
        margin-right: 0;
    }

    .categories__name-arrows {
        width: 30px;
        margin-left: 20px;

    }
}

@media screen and (max-width:395px) {

    .categories {
        width: 100%;
        margin-top: 0px;
        margin-bottom: 0px;
    }

    .categories__container {
        width: 100%;
        margin-bottom: 0;
    }

    .categories__name {
        background-color:#F0F2F1;
        width: 206px;
        height: 20px;
        margin-top: 25px;
        border-radius: 5px
    }

    .categories__all_button{
      width: 100px;
      font-size: 10px;
    }

    .categories__name-title {
        font-family: Inter;
        font-size: 12px;
        font-weight: 400;
        line-height: 15px;
        letter-spacing: 0em;
        text-align: left;
        margin-top: 2px;
        margin-left: 13px;
    }

    .categories__name-arrows {
        width: 18px;
        height: 5px;
        margin-top: 6px;
    }
}

@media screen and (max-width:380px) {
    .categories__all_button{
        width: 90px;
        font-size: 9px;
      }
}