@import url(../../src/vendor/fonts/inter.css);
.page {
    margin: 0 auto;
    font-family: Inter, Arial, Helvetica, sans-serif;
    color:black;
    max-width: 1512px;
    height: 100%;
    background-color: white;
}



*{
    box-sizing: border-box;
}
