.footer {
    position: relative;
    width: 86%;
    margin-top: 120px;
    margin-bottom: 100px;
    margin-left: auto;
    margin-right: auto;
    display: flex;
}


.footer_no-full-terms {
    justify-content: flex-end;
}

.footer_full-terms {
    justify-content: space-between;
}

.footer__container {
    display: flex;
    flex-direction: column;
    gap: 15.71px;
}

.full-terms {
    width: 50%;
    padding: 0;
}

.full-terms__buttons {
    background-color: transparent;
    color: #671309;
    border: none;
}

.full-terms__buttons-text{
    font-family: Inter;
    font-size: 12px;
    font-weight: 400;
    line-height: 15px;
    letter-spacing: 0em;
    text-align: center;
    border-bottom: 1px solid #671309;
    margin: 0;
}

.full-terms__text{
    font-family: Inter;
    font-size: 12px;
    font-weight: 400;
    line-height: 15px;
    letter-spacing: 0em;
    text-align: left;
}


.footer__favorite-like {
    cursor: pointer;
    width: 55px;
    height: 50px;
    margin-top: 4px;
    margin-right: 10px;
    background-image: url('../../img/like-favorite.svg');
    background-position: center;
    background-size: cover;
    border: none;
    background-color: white;
    align-self: flex-end;
}

.footer__group {
    cursor: pointer;
    text-decoration: none;
    background-color: white;
    font-family: Inter;
    font-size: 30px;
    font-weight: 400;
    line-height: 36px;
    letter-spacing: 0em;
    text-align: left;
    color: #520005;
    border: none;
    text-align: center;
    margin-right: 3px;
}

.footer__connect {
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
    width: 251.58221435546875px;
    height: 66.65853118896484px;
    border-radius: 10.751376152038574px;
    background-color: #EAD6BD;
    font-family: Inter;
    font-size: 26px;
    font-weight: 400;
    line-height: 31px;
    letter-spacing: 0em;
    text-align: center;
    color: #726666;
    border: none;
    margin-top: 0px;
    margin-left: 8px;
    text-decoration: none;
}



.secret-button__link {
    color: white;
}

@media screen and (max-width:595px) {
    .footer__group {
        font-family: Inter;
        font-size: 14px;
        font-weight: 400;
        line-height: 17px;
        letter-spacing: 0em;
    }

    .footer__connect {
        width: 117px;
        height: 31px;
        top: 782px;
        left: 260px;
        border-radius: 3px;
        font-family: Inter;
        font-size: 12px;
        font-weight: 400;
        line-height: 15px;
        letter-spacing: 0em;
    }


}