:root {
    --width780: 780px;
    --width700: 700px;
    --width650: 650px;
    --width600: 600px;
    --width550: 550px;
    --width500: 500px;
    --width450: 450px;
    --width400: 400px;
    --width350: 350px;
    --width300: 300px;
}


