:root {
    --width780: 780px;
    --width700: 700px;
    --width650: 650px;
    --width600: 600px;
    --width550: 550px;
    --width500: 500px;
    --width450: 450px;
    --width400: 400px;
    --width350: 350px;
    --width300: 300px;
}

.look__text-padding {
    padding: 25px;
}



.look__promocode-margin{
    margin-right: 20px;
}


.button__link {
    margin-top: 50px;
    margin-bottom: 50px;
    width: 460.8038024902344px;
    height: 91.34877014160156px;
    border-radius: 10.149864196777344px;
    background-color: #F1F2F6;
    cursor: pointer;
}

.button__text {
    font-family: Inter;
    font-size: 24px;
    font-weight: 400;
    line-height: 29px;
    letter-spacing: 0em;
    text-decoration: none;
    color: black;
}

.look__file-container {
    margin-top: 0;
    width: var(--width780);
    height: 430px;
    border-radius: 10.149864196777344px;
    background-color: #F1F2F6;
    box-shadow: 0px 8.119891166687012px 8.119891166687012px 0px #00000017 inset;
    margin-bottom: 25px;
}

.look__file-image {
    width: 100%;
    height: 100%;
    border-radius: 10.149864196777344px;
}


@media screen and (max-width:807px) {
    .look__file-container {
        width: var(--width700);
    }

}



@media screen and (max-width:730px) {
    .look__file-container {
        width: var(--width650);
    }

}

@media screen and (max-width:692px) {
    .look__file-container {
        width: var(--width600);
    }

}

@media screen and (max-width:635px) {
    .look__file-container {
        width: var(--width550);
    }
    .look__text-padding{
        font-size: 20px;
    }
    .look__add-date{
        width: 200px;
    }
}

@media screen and (max-width:585px) {
    .look__file-container {
        width: var(--width500);
    }

}

@media screen and (max-width:539px) {
    .look__file-container {
        width: var(--width450);
    }


}

@media screen and (max-width:487px) {
    .look__file-container {
        width: var(--width400);
        height: 330px;
    }

    .button__link {
        width: var(--width400);
    }

    .look__text-padding{
        font-size: 20px;
    }
    .look__add-date{
        width: 155px;
    }

}


@media screen and (max-width:425px) {
    .look__file-container {
        width: var(--width350);
        height: 280px;
    }
    .button__link {
        width: var(--width350);
    }

    .look__text-padding{
        font-size: 15px;
    }
    .look__add-date{
        width: 120px;
    }
}


@media screen and (max-width:373px) {
    .look__file-container {
        width: var(--width300);
        height: 250px;
    }
    .button__link {
        width: var(--width300);
    }
    .button__text {
        font-size: 18px;
 
    }

    .look__text-padding{
        font-size: 12px;
    }
    .look__add-date{
        width: 100px;
    }
}